<div class="title text-center">
    <h1 class="display-4"> Login</h1>
</div>
<div class = "container">
    <div class="d-flex justify-content-center">

        <%= form_with scope: :session, url: login_path do |f| %>

            <div class="form-group form-control-lg">
                 <div class="mb-3">
                    <%= f.label :email %><br/>
                    <%= f.email_field :email, class: "form-control form-control-lg", placeholder: "email@example.com" %> 
                </div>

                <div class="mb-3">
                    <%= f.label :password %><br/>
                    <%= f.password_field :password, class: "form-control form-control-lg", placeholder: "Enter your password" %>
                </div>
                <div class="mb-3">
                    <%= f.submit "Log in", class: "login-btn btn btn-secondary" %>
                </div>
            </div>
    
        <% end %>
    </div>
</div>