<div class="booking-form">
    <%= form_with model: [@room, @booking] do |form| %> 
        <div class="row">
            <div class="col-sm-2">
                <div class="mb-3">
                    <%= form.label :guests, class: "text-box"%>
                    <%= form.text_field :guests, class: "form-control form-control-sm" %> <br> 
                </div>
            </div>
            <div class="col-sm-2">
                <%= form.label :check_in %>
                <%= form.text_field :check_in, class: "datepicker form-control form-control-sm" %> <br> 
            </div>
            <div class="col-sm-2">
                <%= form.label :check_out %>
                <%= form.text_field :check_out, class: "datepicker form-control form-control-sm" %> <br> 
            </div>
        </div>
        <div class = "row">
            <div class= "col-sm-2">
                <%= form.submit "Book", id: "booking-btn", class: " btn btn-secondary btn-lg" %>
             </div>
        </div>
    <%end%>   
</div>
      


