<div class="home-title">
<%= image_tag "night.jpeg", class: "homepage-pic"%>  
<p class="lead "> "Travel Good with Nims Inn"</p>
</div>
<%=form_with url: "/rooms", method: :get do |form|%> 
<nav class="navbar navbar-expand-lg navbar ">
  <div class="container-fluid">
    <span class="navbar-brand" >
      <div class="row g-2">
        <div class="col-md-4 "
          <%= form.label :check_in%> :
          <%= form.text_field :check_in, class: "datepicker", rows: "6"%> <br> 
        </div>
        <div class="col-md-4"
          <%= form.label :check_out%> :
          <%= form.text_field :check_out, class: "datepicker", rows: "6"%> <br> 
        </div>
        <div class="col-md-4">
            <%= form.submit "Search", class:" btn btn-dark btn-sm"%>
        </div>
      </div>
    </span>
  </div>
</nav>
<%end%> 

<div class="row">
    <% @roomsAvailable.each do |p| %>     
        <div class="col-sm-4"><br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= p.name %></h5>
                    <p class="card-text"><%="Capacity: #{p.capacity}"%></p>
                    <p class="card-text"><%= "Cost per Night: £#{p.cost}"%></p>
                    <%= link_to "View Room ", new_room_booking_path(p), id: "index-room", class: "btn btn-dark"%>
                </div>
            </div>
            <br>
        </div>
     <% end %>  
</div>


