<%= image_tag "room.jpeg", class: "homepage-pic" %>  
<div class="row">
    <% @roomsAvailable.each do |p| %>     
        <div class="col-sm-4"><br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= p.name %></h5>
                    <p class="card-text"><%="Capacity: #{p.capacity}"%></p>
                    <p class="card-text"><%= "Cost per Night: £#{p.cost}"%></p>
                    <%= link_to "View Room ", new_room_booking_path(p), id: "index-room", class: "btn btn-dark"%>
                </div>
            </div>
            <br>
        </div>
     <% end %>  
</div>



 
 
 


